streamlit
openai
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-openai===0.2.14
langgraph==0.2.60
pandas
beautifulsoup4
html2text
python-dotenv
langgraph-checkpoint-sqlite===2.0.1
google-ai-generativelanguage===0.6.10
langchain-google-genai===2.0.7
google_search_results===2.4.2

